<!-- Video Panel -->

<section class="video-panel">
    <div class="grid-container height-100">
        <div class="grid-x">
            <div class="cell">
                <div class="video-box">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KFNZIhuYW2E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>