<!-- Sidebar  -->

<div class="sidebar">
    <div class="sidebar-widget margin-bottom-2">
        <h4 class="sidebar-widget-title">Doctors Team</h4>
        <div class="sidebar-widget-thumb">
            <div class="grid-x grid-margin-x grid-margin-y medium-up-3">
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
                <div class="cell">
                    <a href="#" class="sidebar-widget-thumb-img">
                        <img src="https://image.freepik.com/free-vector/male-doctor-poster_1284-4729.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-widget margin-bottom-1">
        <h4 class="sidebar-widget-title">CATEGORIES</h4>
        <div class="sidebar-widget-menu">
            <ul>
                <li><a href="#">Gut Health</a></li>
                <li><a href="#">Spirit</a></li>
                <li><a href="#">Mind Body </a></li>
                <li><a href="#">Rest & Sleep</a></li>
                <li><a href="#">Lab Testing</a></li>
                <li><a href="#">Age Management</a></li>
                <li><a href="#">Medical Nutrition</a></li>
                <li><a href="#">Nutrition</a></li>
                <li><a href="#">Stress</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
            </ul>
        </div>
    </div>
</div>