 <!-- Categories panel -->
 <section class="shop-page-categories-panel">
    <div class="grid-container fluid padding-0">
        <div class="shop-page-categories-panel-list">
            <div class="grid-x small-up-2 medium-up-3 large-up-6">
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-SleepAids'}}active{{/ifpage}}" >
                        <a href="/products/cat-SleepAids.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fal fa-bed"></i>
                            </div>
                            Sleep Aids
                        </a>
                    </div>
                </div>
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-HempProducts'}}active{{/ifpage}}">
                        <a href="/products/cat-HempProducts.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fab fa-pagelines"></i>
                            </div>
                            Hemp Products
                        </a>
                    </div>
                </div>
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-OralCare'}}active{{/ifpage}}">
                        <a href="/products/cat-OralCare.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fas fa-lips"></i>
                            </div>
                            Oral Care
                        </a>
                    </div>
                </div>
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-Skincare'}}active{{/ifpage}}">
                        <a href="/products/cat-Skincare.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fad fa-theater-masks"></i>
                            </div>
                            Skincare
                        </a>
                    </div>
                </div>
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-Performance'}}active{{/ifpage}}">
                        <a href="/products/cat-Performance.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fal fa-tachometer-alt-average"></i>
                            </div>
                            Performance
                        </a>
                    </div>
                </div>
                <div class="cell ">
                    <div class="shop-page-categories-panel-list-items {{#ifpage 'cat-TestKitts'}}active{{/ifpage}}">
                        <a href="/products/cat-TestKitts.html">
                            <div class="shop-page-categories-panel-list-items-icon">
                                <i class="fal fa-medkit"></i>
                            </div>
                            Test Kits
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
