   {{#ifequal type 'convenience'}}
   <!-- Convenience-panel -->
   <section class="convenience-panel section-padding">
    <div class="grid-container fluid">
        <h2 class="section-title font-c-white">At Your Convenience</h2>
        <div class="grid-x medium-up-4 small-up-2 grid-margin-x grid-margin-y">
            <div class="cell">
                <div class="convenience-panel-features">
                    <div class="convenience-panel-features-icon">
                        <i class="fal fa-video"></i>
                    </div>
                    <h5>Video Consults</h5>
                </div>
            </div>

            <div class="cell">
                <div class="convenience-panel-features">
                    <div class="convenience-panel-features-icon">
                        <i class="fal fa-clinic-medical"></i>
                    </div>
                    <h5>In-Office Consults</h5>
                </div>
            </div>

            <div class="cell">
                <div class="convenience-panel-features">
                    <div class="convenience-panel-features-icon">
                        <i class="fal fa-user-headset"></i>
                    </div>
                    <h5>Phone Consults</h5>
                </div>
            </div>

            <div class="cell">
                <div class="convenience-panel-features">
                    <div class="convenience-panel-features-icon">
                        <i class="fal fa-users-medical"></i>
                    </div>
                    <h5>Group Consults</h5>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="button border-button" type="button">Schedule a 15-Minute Discovery Consult</button>
        </div>
    </div>
    </section>

    {{/ifequal}}




{{#ifequal type 'about-more'}}
     <!-- More About Us -->
   <section class="convenience-panel section-padding">
    <div class="grid-container fluid">
        <h2 class="section-title font-c-white">More About Us</h2>
        <div class="grid-x medium-up-4 small-up-2 grid-margin-x grid-margin-y">
            <div class="cell">
                <a href="#">
                    <div class="convenience-panel-features text-center">
                        <div class="convenience-panel-features-icon">
                            <i class="fal fa-user-md"></i>
                        </div>
                        <h5>Meet Dr. Miller</h5>
                    </div>
                </a>
            </div>

            <div class="cell">
                <div class="convenience-panel-features">
                    <a href="#">
                        <div class="convenience-panel-features-icon text-center">
                            <i class="fal fa-info-circle"></i>
                        </div>
                        <h5>Learn More About Us</h5>
                    </a>
                </div>
            </div>

            <div class="cell">
                <a href="#">
                    <div class="convenience-panel-features text-center">
                        <div class="convenience-panel-features-icon">
                            <i class="fal fa-question-circle"></i>
                        </div>
                        <h5>Common Questions</h5>
                    </div>
                </a>
            </div>

            <div class="cell">
                <a href="#">
                    <div class="convenience-panel-features text-center">
                        <div class="convenience-panel-features-icon">
                            <i class="fal fa-user-md-chat"></i>
                        </div>
                        <h5>Reach Out to Us</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="text-center">
            <button class="button border-button" type="button">Schedule a 15-Minute Discovery Consult</button>
        </div>
    </div>
    </section>

{{/ifequal}}

{{#ifequal type 'about-us'}}
<!-- About Us-panel -->
<section class="convenience-panel section-padding">
 <div class="grid-container fluid">
     <h2 class="section-title font-c-white">Our Core Values</h2>
     <div class="grid-x medium-up-4 small-up-2 grid-margin-x grid-margin-y">
         <div class="cell">
             <div class="convenience-panel-features text-center">
                 <div class="convenience-panel-features-icon">
                    <i class="fal fa-puzzle-piece"></i>
                 </div>
                 <h5>Bridge the gap between dentists, doctors, surgeons, and holistic medicine.</h5>
             </div>
         </div>

         <div class="cell">
             <div class="convenience-panel-features text-center">
                 <div class="convenience-panel-features-icon">
                    <i class="fal fa-chalkboard-teacher"></i>
                 </div>
                 <h5>Be an advocate and educate patients to see the source of disease and play a bigger role in their own health.</h5>
             </div>
         </div>

         <div class="cell">
             <div class="convenience-panel-features text-center">
                 <div class="convenience-panel-features-icon">
                    <i class="fal fa-trophy-alt"></i>
                 </div>
                 <h5>Motivate patients to ARISE to their peak, work toward a better quality of life, and find their unique purpose.</h5>
             </div>
         </div>

         <div class="cell">
             <div class="convenience-panel-features text-center">
                 <div class="convenience-panel-features-icon">
                    <i class="fal fa-lock-open"></i>
                 </div>
                 <h5>Guide patients to unlock their innate mental and physical potential so they can heal and ARISE to their best self.</h5>
             </div>
         </div>
     </div>
 </div>
 </section>

 {{/ifequal}}