<!-- Procedures Panel -->

<section class="blog-panel procedures-panel padding-top-0">
    <div class="grid-container fluid">
        <h2 class="section-title">Procedures Available to You</h2>
        <div class="grid-x large-up-5 medium-up-3 grid-margin-x grid-margin-y">
            {{> procedures-post type="p1"}}
            {{> procedures-post type="p2"}}
            {{> procedures-post type="p3"}}
            {{> procedures-post type="p4"}}
            {{> procedures-post type="p5"}}
            {{> procedures-post type="p6"}}
            {{> procedures-post type="p7"}}
            {{> procedures-post type="p8"}}
            {{> procedures-post type="p9"}}
            {{> procedures-post type="p10"}}
        </div>
    </div>
</section>