 <!-- Specialities Panel -->
 <section class="specialities-panel section-padding padding-bottom-0">
    <div class="grid-container fluid padding-0">
        <h2 class="section-title">Our Specialities</h2>
       

        {{> specialities-post type="p1"}}
        {{> specialities-post type="p2"}}

        {{> specialities-post type="p1"}}
        {{> specialities-post type="p2"}}

        {{> specialities-post type="p1"}}
        {{> specialities-post type="p2"}}

        {{> specialities-post type="p1"}}
        {{> specialities-post type="p2"}}

        {{> specialities-post type="p1"}}
        {{> specialities-post type="p2"}}


        <div class="text-center">
            <button class="button border-button black-button" type="button">Schedule a 15-Minute Discovery Consult</button>
        </div>
    </div>
</section>