
<div class="grid-x large-up-2 grid-margin-x grid-margin-y">
    <div class="cell">
        <div class="contact-details-boxs">
            <h5 class="contact-details-boxs-title">Address:</h5>
            <p>10602 N. Port Washington Rd #101
                Mequon, WI 53092</p>
        </div>
    </div>

    <div class="cell">
        <div class="contact-details-boxs">
            <h5 class="contact-details-boxs-title">Phone number:</h5>
           <a href="tel:414-386-2600">414-386-2600</a>
        </div>
    </div>

    <div class="cell">
        <div class="contact-details-boxs">
            <h5 class="contact-details-boxs-title">Email:</h5>
           <a href="mailto:info@arisemd.com">info@arisemd.com</a>
        </div>
    </div>
    <div class="cell">
        <div class="contact-details-boxs">
            <h5 class="contact-details-boxs-title">We are open:</h5>
            <p>Monday – Thursday 10:00 AM – 5:00 PM</p>
        </div>
    </div>

    <div class="cell">
        <div class="contact-details-boxs">
            <h5 class="contact-details-boxs-title">Telemedicine Consults Are Available:</h5>
            <p>Monday – Friday 8:00 AM – 6:00 PM</p>
            <p class="font-italic">
                *We can make accommodations for Saturday telemedicine consults if needed
            </p>
        </div>
    </div>
</div>