
<div class="contact-form">
    <h4 class="contact-form-title">Fill out this short form to send us a message</h4>
    <form action="">
        <div class="contact-form-inner">
            <input type="text" placeholder="Name" >
        </div>
        <div class="contact-form-inner">
            <input type="email" placeholder="Email" required>
        </div>

        <div class="contact-form-inner">
            <input type="text" placeholder="Subject">
        </div>

        <div class="contact-form-inner">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </div>

        <div class="contact-form-inner">
            <input type="submit" value="Send Message">
        </div>

    </form>
</div>