

<ul class="accordion faq-accordion" data-accordion>
    <li class="accordion-item" data-accordion-item>
      <!-- Accordion tab title -->
      <a href="#" class="accordion-title">Can Dr. Miller be my primary care doctor?</a>
  
      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        <p>
            Dr. Miller is trained as an integrative medicine physician, dentist, facial surgeon, stem cell expert and can handle many of your primary care needs. However he requests that you maintain a primary care doctor for an annual physical exam, Pap smear, prostate exam, etc. Dr. Miller is happy to work with you closely as a consultant and coach in preventive, nutritional and functional medicine to address the roots of chronic health problems. Dr. Miller is also happy to confer with your primary care doctor if desired.
        </p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Do you accept insurance?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p><strong>CONSULTS/PROCEDURES:</strong>&nbsp; ARISE MD does not accept insurance or Medicare for <em>consultations</em>. We do not file insurance claims nor do we deal with claim resolution. However, we will provide a detailed receipt of services performed (Super Bill) that you can submit to your insurance carrier. For more information on our office policies please contact us: <a href="mailto:info@arisemd.com">info@arisemd.com</a> or <a href="https://arisemd.com/contact-us/">414- 386-2600</a>.</p>
            <p class="p1"><strong>LABS/TESTING:</strong>&nbsp; In 2019, ARISE MD formalized a partnership with Northwestern Medical Center, Chicago, that allows many of our patients to get significant insurance coverage for<em> routine, cardiac, and some speciality&nbsp;</em><i>laboratory testing</i>.<span class="Apple-converted-space">&nbsp; </span>Please bring your insurance card with you to each appointment.</p>
            <p>
                For assistance with your reimbursement you may want to contact your insurance provider prior to your consult. Payment is due in full by check, cash or credit card dat the time of services at ARISE MD.
            </p>
            <p>
                If you provide insurance information we will include it with all of your lab submissions, but it is your responsibility to connect with your insurance provider to determine coverage prior to having tests done. Most patients apply expenses from our office to a personal HSA account.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Do you think you can help me with my health problems?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>
                We can help. Most physicians are trained to look only in specific places for the answers, using the same familiar labs or diagnostic tests. Yet, many causes of illness cannot be found in these places. The usual tests do not look for food allergies, hidden infections, environmental toxins, mold exposures, nutritional deficiencies and metabolic imbalances.
            </p>
           <p>
            At ARISE MD, on the other hand, we use innovative testing to help patients prevent illness and recover from many chronic and difficult-to-treat conditions. Dr. Miller is skilled in evaluating, assessing and treating chronic problems such as insomnia, fatigue syndromes, inflammatory disorders, mood and behavior disorders, Irritable Bowel Syndrome (IBS), seasonal allergies, and other chronic, complex conditions. Dr. Miller also focuses on the prevention and treatment of heart disease, diabetes, dementia, hormonal imbalances and digestive disorders.
           </p>

           <p>
            Our first priority is to help you build an accurate and thorough “diagnostic dashboard” so you know your real risk for disease. Whether it is in our office or through a Zoom Tele-medicine visit we’ve got you covered.
           </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">What are Dr. Miller's qualifications?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>
                There are few physicians with the constellation of trainings and certifications that Dr. Miller has achieved:
            </p>
            <ul>
                <li>Integrative medicine-certified physician<br>
                Dentist</li>
                <li>Cosmetic and reconstructive facial surgeon</li>
                <li>Sleep apnea surgeon</li>
                <li>Sedation anesthesia certified</li>
                <li>Skin cancer primary care certified</li>
                <li>Skin cancer surgery certified</li>
                <li>Stem-cell certified physician</li>
            </ul>
            <p>
                Dr. Miller’s rare training allows our team to use an uniquely integrative approach to assess and treat your health concerns. We routinely “connect dots” for our patients that other practitioners miss because they lack the training to understand as many different aspects of your health as Dr. Miller.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">What does the initial (new patient) consult cost?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p class="bold">
                Initial (New Patient) Consult $385/60 mins
                
            </p>
            <p><em>Follow-up Consult $375/hr</em></p>
            <p>
                To learn more about the different services offered please email: info@arisemd.com or call 414- 386-2600
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">What can I expect from a new patient consult?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>A complete review of your concerns and history</p>
            <ul>
                <li>A complete head-to-toe exam including:</li>
                <li>A complete skin cancer screening</li>
                <li>A dental exam, and oral cancer screening</li>
                <li>A mini-stress test for your exercise capacity and heart and lung health</li>
                <li>Blood sugar screening – fasting and post prandial</li>
                <li>A blood draw for a modern, high-sensitivity, predictive metabolic lab panel</li>
                <li>At least three key things you can implement tomorrow to be healthier</li>
                <li>A form to organize your treatment plan</li>
                <li>A list of recommendations for you to take to your medical team</li>
                <li>A total of 1.5-2.0 hours in Dr. Miller’s office</li>
                <li>(A superficial chemical skin enhancement is an add-on option)</li>
                <li>(A dental screening panorex is also an add-on option)</li>
            </ul>

            <p>
                * New Patients must provide : home address, date of birth, credit card on file, preferred pharmacy name, address and fax number; health insurance card, preferred email and preferred contact number.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">What is the passport plan?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>
                The Passport Plan is for the patient or family seeking the peace of mind that comes with having a concierge “double doctor.” Passport Patients enjoy concierge access to Adam C. Miller, DDS, MD via email, text and phone.
            </p>
            <p>
                Dr. Miller allows (40) Active Passport Patients on any given month and requires an initial consultation in office to join. The Passport Plan costs $400/month and includes priority scheduling, a discount on office visits, labs and procedures and a discount on nutritional supplements and skincare. The Passport Plan requires a minimum 6 month commitment. To start your application for the Passport Plan email: info@arisemd.com or call: 414-386-2600.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Who do I contact?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>
                The ARISE MD practice is managed by our Patient Coordinators. For questions about scheduling an appointment, ordering supplements and labs or applying for the Passport Plan you may reach them at: info@arisemd.com or call 414-386-2600.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Does Dr. Miller still do specialty consults for oral disease, skin disease, cosmetic surgery and sleep apnea?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p>
                YES. Patients around the world have found Dr. Miller’s second-opinion consults to be invaluable in providing confidence, value and peace of mind for complex dental issues (jaw surgery, dental implant surgery, sleep apnea therapy) and cosmetic facial dermatology issues.
            </p>
            <p>
                To schedule a specialty consult: info@arisemd.com or call: 414-368-2600.
            </p>
        </div>
      </li>
    <!-- ... -->

    <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">What are the references for the statistics listed on your website?</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <p><a href="http://CDC.gov"><em>CDC.gov</em></a><em>&nbsp;</em></p>
            <ul>
                <li><em>Benjamin EJ, Blaha MJ, Chiuve SE, Cushman M, Das SR, Deo R, et al. Heart Disease and Stroke Statistics—2017 Update: A Report From the American Heart Association. 2017; 135:e1–e458. DOI: 10.1161/CIR.0000000000000485</em><em>&nbsp;</em></li>
                <li><em>Medical Bankruptcy: Still Common Despite the Affordable Care Act<br>
                </em><a href="https://ajph.aphapublications.org/author/Himmelstein%2C+David+U"><em>David U. Himmelstein </em></a><em>MD, </em><a href="https://ajph.aphapublications.org/author/Lawless%2C+Robert+M"><em>Robert M. Lawless </em></a><em>JD, </em><a href="https://ajph.aphapublications.org/author/Thorne%2C+Deborah"><em>Deborah Thorne </em></a><em>PhD, </em><a href="https://ajph.aphapublications.org/author/Foohey%2C+Pamela"><em>Pamela Foohey </em></a><em>JD, and </em><a href="https://ajph.aphapublications.org/author/Woolhandler%2C+Steffie"><em>Steffie Woolhandler </em></a><em>MD, MPH </em><em>American Journal Public Health Association</em><em>&nbsp;</em></li>
                <li><em>https://www.finder.com/life-insurance/odds-of-dying</em><em>&nbsp;</em></li>
                <li><em>Mensah G. Global and Domestic Health Priorities: Spotlight on Chronic Disease. National Business Group on Health Webinar. May 23, 2006. Available at: http://www.businessgrouphealth.org/opportunities/webinar052306chron- icdiseases.pdf. Accessed April 17, 2007.</em></li>
                </ul>
        </div>
      </li>
    <!-- ... -->
  </ul>