<!-- Dr Different Panel -->

<section class="d-panel section-padding bg-dark">
    <div class="grid-container">
        <h2 class="section-title font-c-white">Credentials</h2>
        <ul class="content-lists">
            <li>DDS — Marquette University School of Dentistry, 1998, Cum Laude</li>
            <li>MD — University of Pittsburgh School of Medicine, 2002</li>
            <li>Internal Medicine Internship&nbsp; Allegheny General Hospital, 2002</li>
            <li>General Surgery Internship&nbsp;&nbsp;Allegheny General Hospital, 2003</li>
            <li>Maxillofacial Surgery Chief Resident&nbsp;Allegheny General Hospital, 2004</li>
            <li>Anesthesia Certification,&nbsp;Pennsylvania (DA031608), 2005</li>
            <li>Board Certified, American Board of Oral &amp; Maxillofacial Surgery, 2008</li>
            <li>Medical Director,&nbsp;DuBois&nbsp;Laser Skin Center, 2005-2008</li>
            <li>Medical Director,&nbsp;Center for Oral, Facial &amp; Wellness, 2008-2013, Normah, Malaysia</li>
            <li>Co-creator,&nbsp;Intelligent Melatonin, 2012</li>
            <li>Co-creator,&nbsp;iAM Integrative Skincare, 2012</li>
            <li>Contributing Author,&nbsp;What Successful Women Do With Their Money, 2012</li>
                <li>Associate Editor,&nbsp;Journal of Oral Implantology, 2013-2017</li>
                <li class="li1">American Academy of Age Management Medicine Certification,&nbsp;2013</li>
                <li class="li1">American Academy of Anti-Aging Med. (written) Board Certification,&nbsp;2013</li>
                <li class="li1">Skin Cancer Medicine Certification,&nbsp;A4M, 2013</li>
                <li class="li1">U.S. Stem Cell Physician Certification,&nbsp;2014</li>
                <li class="li1">Wisconsin Medical and Dental Licenses,&nbsp;2013- present</li>
                <li class="li1">Founder,&nbsp;ARISE MD, 2015</li>
                <li class="li1">Medical Advisory Board, Bio-Botanical Research, 2019</li>
                <li class="li1">Thought Leaders Council, Xymogen Corporation, 2019</li>
                <li class="li1">Editorial Board, International Journal of Research in Health Sciences, 2020</li>
        </ul>
    </div>
</section>