
<!-- Comment Panel  -->
<section class="comment-panel bg-dark section-padding">
    <div class="grid-container">
        <div class="comment-panel-inner">
            <h2 class="section-title">LEAVE A REPLY</h2>
            <h6 class="text-center">Your email is safe with us.</h6>
            <div class="comment-panel-inner-form">
                <form action="">
                    <input type="text" name="" id="" placeholder="Enter Name">
                    <input type="email" name="" id="" placeholder="Enter Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Comments"></textarea>
                    <input type="submit" value="Submit Comment">
                </form>
            </div>
            <div class="comment-panel-inner-comments">
                <div class="comment-panel-inner-comments-box">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-2">
                            <div class="comments-box-avatar">
                                <img src="https://image.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="">
                            </div>
                        </div>
                        <div class="cell auto">
 
                            <div class="comments-box-content">
                                <h4 class="comments-box-content-title">Phoebe Lapine</h4>
                                <p>
                                    Hi Dr. Miller!
        
                                    I had a root canal yesterday and my Dr. was insistent on putting me on a short course of antibiotics because of some inflammation/irritation in the area.
                                    
                                    I was curious if there was a general litmus test for when antibiotics are necessary and worth the risk to overall gut health, and when it’s ok to skip.
                                    
                                    Are there any more localized workarounds to prevent infection if it’s a hard to reach place like the root?
                                    
                                    Thanks so much in advance!
                                    
                                    Best,
                                    
                                    Phoebe
                                    
                                    feedmephoebe.com
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="comment-panel-inner-comments-box">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-2">
                            <div class="comments-box-avatar">
                                <img src="https://image.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="">
                            </div>
                        </div>
                        <div class="cell auto">
 
                            <div class="comments-box-content">
                                <h4 class="comments-box-content-title">Phoebe Lapine</h4>
                                <p>
                                    Hi Dr. Miller!
        
                                    I had a root canal yesterday and my Dr. was insistent on putting me on a short course of antibiotics because of some inflammation/irritation in the area.
                                    
                                    I was curious if there was a general litmus test for when antibiotics are necessary and worth the risk to overall gut health, and when it’s ok to skip.
                                    
                                    Are there any more localized workarounds to prevent infection if it’s a hard to reach place like the root?
                                    
                                    Thanks so much in advance!
                                    
                                    Best,
                                    
                                    Phoebe
                                    
                                    feedmephoebe.com
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="comment-panel-inner-comments-box">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-2">
                            <div class="comments-box-avatar">
                                <img src="https://image.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="">
                            </div>
                        </div>
                        <div class="cell auto">
 
                            <div class="comments-box-content">
                                <h4 class="comments-box-content-title">Phoebe Lapine</h4>
                                <p>
                                    Hi Dr. Miller!
        
                                    I had a root canal yesterday and my Dr. was insistent on putting me on a short course of antibiotics because of some inflammation/irritation in the area.
                                    
                                    I was curious if there was a general litmus test for when antibiotics are necessary and worth the risk to overall gut health, and when it’s ok to skip.
                                    
                                    Are there any more localized workarounds to prevent infection if it’s a hard to reach place like the root?
                                    
                                    Thanks so much in advance!
                                    
                                    Best,
                                    
                                    Phoebe
                                    
                                    feedmephoebe.com
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div> 
    </div>
</section>