<!-- Features panel -->
<section id="features-panel" class="features-panel wow animate__slideInUp" data-wow-duration="2s" data-wow-delay=".5s" data-wow-offset="0">
    <div class="grid-container fluid">
        <div class="grid-x small-up-2 grid-margin-x grid-margin-y">
            <div class="cell features-panel-box-bg">
                <div class="features-panel-box">
                    <div class="features-panel-box-icon">
                        <i class="fal fa-briefcase-medical"></i>
                    </div>
                    <div class="features-panel-box-content">
                        <h3 class="features-panel-box-content-title">What We Do</h3>
                        <p class="hide-for-small-only">
                            ARISE MD integrative care specializes in sleep apnea, 
                            dental medicine 2nd opinions, irritable bowel, acne/eczema, anxiety, 
                            and other stress-related ailments. We provide efficient care to save money and get to better health,
                             sooner. We also offer concierge membership benefits. 
                             Consults are performed in person and telemedicine.
                        </p>
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell features-panel-box-bg">
                <div class="features-panel-box">
                    <div class="features-panel-box-icon">
                        <i class="fal fa-user-md"></i>
                    </div>
                    <div class="features-panel-box-content">
                        <h3 class="features-panel-box-content-title">Meet Dr. Miller</h3>
                        <p class="hide-for-small-only">
                            Dr. Miller is a rare combination dentist, surgeon, and integrative medicine expert with unique training after trekking the globe to find a better way to treat his patients. His passion for integrative care comes first from his victory as a patient, overcoming the limitations provided by traditional medicine.
                        </p>
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell features-panel-box-bg">
                <div class="features-panel-box">
                    <div class="features-panel-box-icon">
                        <i class="fal fa-question"></i>
                    </div>
                    <div class="features-panel-box-content">
                        <h3 class="features-panel-box-content-title">Common Questions</h3>
                        <p class="hide-for-small-only">
                            Used to doctors at large hospitals?  If so, a private practice integrative doctor may be confusing. We understand, we’re different on purpose, but that’s why we can help.  We’re happy to answer questions, and with your trust…get to the root of your health concern.
                        </p>
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell features-panel-box-bg">
                <div class="features-panel-box">
                    <div class="features-panel-box-icon">
                        <i class="fal fa-shopping-cart"></i>
                    </div>
                    <div class="features-panel-box-content">
                        <h3 class="features-panel-box-content-title">ARISE Store</h3>
                        <p class="hide-for-small-only">
                            Shop our ARISE exclusive products, developed by Dr. Miller, like  Dr. Miller’s Hemp oil,  iAM Integrative Skincare,  Intelligent Melatonin, as well as hand-picked supplements and lab test kits for men and women who want to reach their peak.
                        </p>
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>