
<!-- Hemp Panel -->

<section class="h-panel" style="background-image: url('assets/img/hemp-bottle-background-v2.jpg');">
    <div class="grid-container fluid height-100 padding-0">
        
        <div class="h-panel-content">
            <h2 class="h-panel-content-title">DR. MILLER’S PCR HEMP OIL</h2>
            <h3 class="h-panel-content-title-sub">Backed by Research, Not Branding.</h3>
            <p>Zero-THC · Pharmaceutical-Grade · Organically Grown Hemp</p>
            <div class="button-items padding-top-1">
                <button type="button" class="button">Browse Hemp Products</button>
                <button type="button" class="button">Read Our Research</button>
            </div>
        </div>
    </div>
</section>