<!-- Motivating Panel -->

<section class="motivating-panel" style="background-image: url('assets/img/m-bg.jpg');">
    <div class="grid-container fluid height-100">
        <h2 class="motivating-panel-title">Motivating Facts</h2>
        <div class="grid-x grid-margin-x medium-up-2 grid-margin-y">
            <div class="cell motivating-panel-content">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell medium-4">
                        <div class="motivating-panel-content-icon">
                            <i class="fad fa-male"></i>
                        </div>
                        
                    </div>
                    <div class="cell medium-8 text-center">
                        <span class='numscroller' data-min='1' data-max='1000' data-delay='5' data-increment='10'>1000</span>
                        <p>
                            % OF ADULTS OVER 50 WHO WON'T SEE 72
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell motivating-panel-content">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell medium-4">
                        <div class="motivating-panel-content-icon">
                            <i class="fad fa-hand-holding-usd"></i>
                        </div>
                        
                    </div>
                    <div class="cell medium-8 text-center">
                        <span class='numscroller' data-min='1' data-max='1' data-delay='5' data-increment='10'>1</span>
                        <p>
                            LEAD CAUSE OF BANKRUPTCY IS MEDICAL EXPENSES
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell motivating-panel-content">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell medium-4">
                        <div class="motivating-panel-content-icon">
                            <i class="fad fa-heart-circle"></i>
                        </div>
                        
                    </div>
                    <div class="cell medium-8 text-center">
                        <span class='numscroller' data-min='1' data-max='43' data-delay='5' data-increment='10'>43</span>
                        <p>
                            SECONDS BEFORE THE NEXT HEART ATTACK IN AMERICA
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell motivating-panel-content">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell medium-4">
                        <div class="motivating-panel-content-icon">
                            <i class="fad fa-key"></i>
                        </div>
                        
                    </div>
                    <div class="cell medium-8 text-center">
                        <span class='numscroller' data-min='1' data-max='80' data-delay='5' data-increment='10'>80</span>
                        <p>
                            % OF YOUR HEALTH FATE IS UNDER YOUR CONTROL
                        </p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>