<!-- Video Panel -->

<section class="video-panel">
    <div class="grid-container height-100">
        <h2 class="section-title font-c-white">INTERVIEW: LIFE AFTER A NEAR-DEATH CLIMBING ACCIDENT</h2>
        <div class="grid-x">
            <div class="cell">
                <div class="video-box">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WlTfkppuPis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="cell">
                <div class="button-items">
                    <button type="button"><i class="fal fa-envelope margin-right-1"></i>Get our weekly empowerment email</button>
                    <button type="button"><i class="fab fa-youtube margin-right-1"></i> Subscribe to our YouTube Channel</button>
                    <button type="button"><i class="fab fa-facebook-f margin-right-1"></i> Join Our FaceBook Page</button>
                </div>
            </div>
        </div>
    </div>
</section>